@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Source+Sans+Pro:wght@300&display=swap');
.footer {
  background-color: #011E30;
  color: white;
  text-align: center;
  //margin-top: 50px;
  padding: 30px;
  width: 100%;
  left: 0;
  bottom: 0;
}
