// Specific CSS for your home-page
@import url("https://fonts.googleapis.com/css?family=Raleway:700,500,900|Epilogue:400,700,900,300,500|Inter:400,600|Roboto:400|Playfair+Display:500,900");


//block 1 banner
.h1{
  font-family: "Epilogue", sans-serif;
  color: black;
  font-weight: bolder;
}



// block 2 about us
.hero-h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 400%;
}
.hero-btn {
  width: 150px;
  color: #0579ce;
  font-weight: bold;
  align-items: center;
  border: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    asset-url("riocity.jpg");
  height: 614px;
  mix-blend-mode: normal;
  position: absolute;
  width: 943px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  color: #f4f4f4;
  text-align: center;
  margin-top: 242px;
  margin-bottom: 9028px;




}

.block3{
  background-color: white;
   background-image: image-url("bckblock3.png");
   height: 900px;
background-repeat: no-repeat;
background-size: cover;


}


// block 3- how it works

.button {
  background-color: #4CAF50;
  border: none;
  color: rgb(34, 10, 192);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: center;

}


.blue-background{
background-image: image-url("bkblock4.png");
height: 1400px;
background-repeat: no-repeat;
background-size: cover;
color: white;
font-size: larger;

}

.works{

  padding-top: 250px;
  margin-left: 450px;
  margin-right: 300px;
  text-align: justify;
}

.container-work{
 margin-top: 644px;


}


.cards{
  background-color: transparent;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
  color: black;

}



.last-box{
margin-top: 100px;
text-align: justify;
align-items: center;
border-bottom: none;
border: none;



}

.dangerzone-box{
  margin-top: -190px;

  text-align: justify;
  align-items: center;
  border-bottom: none;



}

.alert-box{
  margin-top: 40px;

  text-align: justify;
  align-items: center;
  border: none;


}

.card-text{
  padding: 5%;
  border-bottom: none;

}
.card-title{
  padding: 5%;
  text-align: center;
  font-size: larger;
  font-weight: 1500;
}

//block5

.test-title{
  color: black;
  font-weight: 5400;
  text-align: center;
  margin-top: 300px;

}

.card-body{
 background-color: #011E30;
 border-radius:0 0 36px  36px;
 border: none;

}
.card-header{
  background-color: #011E30;

  border-collapse: separate;
  perspective: 1px;


}
.card-header:first-child {
border-radius: 35px 35px 0 0;
border-color: transparent;
}



.bg-dark{
  --bs-bg-opacity: 0;
}

.community{
  display: absolute;
  align-items:center ;
  padding: 200px;
  margin-top: 200px;
  text-align: center;
  color: #011E30;

}
.boxes{
  background-image: image-url("white.png");

}


.map{
  float: right;
}
.incidents{

}

.incident-cards{
  display: flex;
  flex-direction: column;


}





.index-incident-foto{
  padding:24px;
  margin: 10px 12px;
  height: 200px;
width: 100px;
object-fit: cover;
}
.incident-card-text{

  margin: 0;
}
.index-incident-body{
  position: absolute;
padding:140px;
margin-left: 200px;
align-items: left;
text-align: left;
margin-right: 690px;
}
