.container{
  color: white;
  background-color: #011E30;
  width: 1000px;
  margin-top: 50px;
  font-size: medium;
  padding: 50px;
  border-radius: 4%;
}

.form-incident{
  align-items: center;
  width: max-content;
  margin-left: 25%;
  margin-top: 5%;
}

.incident-title{
  color:white;
  text-align: center;
  align-items: center;
}

.form-actions{
  color: #011E30;
  background-color:white;
  align-items: center;
  width: 150px;
  border-radius: 4%;
  margin-top: 30px;
  margin-left: 42%;
}

.row-incident{
  font-weight: lighter;
  align-items: center;
}
