.information{
  background-color: aliceblue;
  text-align: center;
  margin: 0 auto;
  color: black;
}

.location {
 align-items: center;
  width: max-content;
  margin-left: 25%;
  margin-top: 5%;
}
