.show-background{
  background-color: #fff;
}
.information {
  // background-color: white;
  text-align: center;
  margin: 0 auto;
  color: black;
}

.location {
  align-items: center;
  width: max-content;
  margin-left: 25%;
  margin-top: 5%;
}
.container-show {
  color: rgb(10, 1, 1);
  width: 100%;
  height: max-content;
  // margin-top: 50px;
  font-size: large;
  // border-radius: 4%;
  font-family: "Epilogue", sans-serif;
}

.logo-box {
  margin-top: 40px;
  text-align: center;
  align-items: center;
  border-radius: 25px;
  color: white;
}

.h3 {
  font-weight: bolder;
}

.card-title-show {
  padding: 2%;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  text-decoration: underline;
  font-weight: bold;
}

.card-show {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:#eff0f173;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 60%);
  border-radius: 40px;
}

.btn-back {
  color: #000;
  background-color: #080808;
  border-color: #f4f4f4;
}

.btn-submit {
    color: #fff;
    background-color: #011E30;
    border-color: white;
    border-radius: 5%;
    padding: 15px;
    margin: 20px auto;
}

#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  // top: 145px;
  // right: 20px;
  font-size: 100px;
  color: black;
  text-shadow: 0px 0px 5px black;}

  .box {
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-color: #E4E0DC;
    border-style: double;
    color: #E4E0DC;
    text-align: center;
    //background-color: #E4E0DC;
    padding: 10px;
  }

  .details-box{
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
    border-color: #011E30;
    border-style: double;
    color: #011E30;
    background-color: #011E30;
    border-radius: 5%;
  }

  .location-title{
    color: #011E30;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    margin-top: 20px;
  }

  h1{
    color: #E4E0DC;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .map-box {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}

img, .information{
  vertical-align:middle !important;
  align-items: center !important;
  display:inline-block !important;
}

img{
  margin-left: 20px;
  border-radius: 2%;
}

.col-2 {
  flex: 0 0 auto;
  width: 15.666667%;
  margin-top: 335px;
  position: fixed;
  margin-left: 1410px;
}
