.information{
  background-color: aliceblue;
  text-align: center;
  margin: 0 auto;
  color: black;
}

.location {
 align-items: center;
  width: max-content;
  margin-left: 25%;
  margin-top: 5%;
}
.container-show{
  color: rgb(10, 1, 1);
  background-color: #e9eef2;
  width: 100%;
  height: max-content;
  margin-top: 50px;
  font-size: x-large;
  border-radius: 4%;
  font-family: 'Courier New', Courier, monospace;
}
