<div class="dashboard">
  <div class="title">Recent Incidents</div>
    <div class="incidents">
      <div>incident1</div>
      <div>incident 2</div>
      <div>incident 3</div>
    </div>
    <div class="maps">
      <h1>maps</h1>
    </div>
    <div>
    <div class="btn btn-primary">
      <% if policy(Incident).create? %>
        <%= link_to "report incident", new_incident_path %>
      <% end %>
    </div>
    </div>

  </div>
</div>
