<head>
  <meta charset="utf-8">
  <title>STAYSAFE-a personal safety navigation network </title>
  <link rel="stylesheet" href="../../assets/stylesheets/pages/_sessions.scss">
</head>
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Jumbotron -->
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <h2 class="fw-bold mb-5">Forgot your password?</h2>
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "Enter Email",
                input_html: { autocomplete: "email" }%>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Send me reset password instructions
          </button>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            <%= render "devise/shared/links" %>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<% end %>
