 <div class="footer">
    <footer class="text-center">
      <div class="container p-4 pb-0">
        <p> StaySafe team.</p>
        <section class="mb-4">
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
        </section>
      </div>
      <div class="text-center p-3">
        © 2020 Copyright:
        <a class="site" href="#">StaySafe.com</a>
      </div>
      </footer>
    </div>
