<div class="homepage">
  <div class="flex-col">
    <div class="overlap-group8">
      <div class="overlap-group4">
<<<<<<< HEAD

=======
        <div class="overlap-group3">
>>>>>>> master
          <div class="vid-gray-bg"></div>
          <img class="slanted-green-bg" src="slanted-green-bg.svg" />
          <div class="overlap-group">
            <img class="slash_white" src="slash-white-1.svg" /><img
              class="rectangle-37"
              src="rectangle-37.png"
            />
          </div>
          <img class="slash_black" src="slash-black.svg" />
          <div class="floating_elements">
            <div class="flex-col-1">
              <div class="ellipse-3border-1px-grey"></div>
              <div class="overlap-group1">
                <div class="rectangle-3-2"></div>
                <div class="rectangle-1"></div>
                <div class="rectangle-9"></div>
                <div class="rectangle-10"></div>
                <div class="ellipse-1"></div>
                <div class="ellipse-6border-1px-grey"></div>
                <div class="overlap-group-1">

                  <div class="button-1">
                    <div class="king-button-1">
                      <div class="labelvalign-text-middleroboto-normal-congress-blue-16px">login</div>
                    </div>
                  </div>
                  <div class="stay-safe">Staysafe</div>
                </div>
              </div>
              <h1 class="create-stunning-email-campaigns">StaySafe</h1>
              <div class="ellipse-5border-1px-grey"></div>
              <div class="flex-row">
                <div class="rectangle-2"></div>
                <div class="ellipse-2border-1px-grey"></div>
              </div>
              <div class="shape-fade1"></div>
            </div>
            <div class="flex-row-1">
              <div class="rectangle-11"></div>
              <div class="overlap-group2">
                <div class="rectangle-13"></div>
                <div class="ellipse-7border-1px-grey"></div>
                <img class="screenshot-from-2022-04-16-15-43-08-1" src="screenshot-from-2022-04-16-15-43-08-1.png" />
              </div>
              <div class="flex-col-2">
                <div class="rectangle-16"></div>
                <div class="the-source-forprove">How does StaySafe Work ?</div>
                <div class="whether-youre-a-sta">
                  STAYSAFE&nbsp;&nbsp;community reports incidents on the app. When reporting, people can opt-in to share the details you
                  want the local authorities and police to know about a witnessed or direct experience
                </div>
                <div class="ellipse-9"></div>
                <div class="flex-row-2">
                  <div class="ellipse-10border-1px-grey"></div>
                  <div class="shape-fade2"></div>
                </div>
              </div>
            </div>
            <div class="shape-fade3"></div>
            <div class="ellipse-8border-1px-grey"></div>
          </div>
<<<<<<< HEAD

=======
        </div>
>>>>>>> master
        <div class="testimonies">Testimonies</div>
      </div>
      <div class="sec3">
        <div class="overlap-group1-1">
          <img class="photo" src="photo-1.svg" />
          <div class="white-box"></div>
          <div class="launch-campaigns-butraleway-bold-daintree-32px">
            <span class="raleway-bold-daintree-32px">Danger Zones<br /></span
            ><span class="epilogue-normal-daintree-16px"
              >Our map shows community reports of dangers such as knife crime, sexual assault, shooting &amp; mugging</span
            >
          </div>
          <img class="map-pin" src="map-pin.svg" />
        </div>
        <div class="overlap-group-2">
          <img class="photo-1" src="photo.svg" />
          <div class="white-box-1"></div>
          <div class="start-building-and-sepilogue-bold-daintree-32px">
            <span class="epilogue-bold-daintree-32px">Alerts<br /></span
            ><span class="epilogue-normal-daintree-16px">StaySafe automatically alerts of danger zone in your vicinity.</span>
          </div>
        </div>
        <div class="overlap-group6">
          <div class="overlap-group2-1">
            <img class="photo" src="photo-1.png" />
            <div class="white-box-2"></div>
            <div class="start-building-and-s-1epilogue-bold-daintree-24px">
              <span class="epilogue-bold-daintree-24px">Emergency Contact<br /></span
              ><span class="epilogue-normal-daintree-16px"
                >With our quick call button you can immediately be connected to loved ones while walking home</span
              >
            </div>
          </div>
          <img class="photo-2" src="photo.png" />
        </div>
      </div>
      <div class="video">
        <div class="overlap-group7">
          <div class="reach-more-customers">Get anywhere safely</div>
          <div class="overlap-group-3">
            <div class="learn-how">About us</div>
          </div>
        </div>
      </div>
      <div class="hero">
        <div class="overlap-group1-2">
          <div class="overlap-group-4">
            <div class="try-now_-off">
              <div class="button-2">
                <div class="king-button">
                  <div class="label-1valign-text-middleroboto-normal-congress-blue-16px">Sign Up</div>
                </div>
              </div>
            </div>
            <div class="create-and-launch-em">
              Connect and live more safely. StaySafe is a personal safety navigation network that enpowwers you to protect yourself and the
              people and places you care about. It helps you route, share and rate your journey while keeping safe
            </div>
          </div>
          <div class="button-3">
            <div class="label-2valign-text-middleroboto-normal-congress-blue-16px">Browse map</div>
          </div>
        </div>
        <img class="photo-hero" src="photo-hero.svg" />
      </div>
    </div>
    <div class="sec4">
      <div class="flex-row-3">
        <div class="case-study1">
          <div class="overlap-group-5">
            <div class="camileraleway-black-white-34px">Frankie</div>
            <div class="member-since-2012raleway-bold-white-19px">Member since 2016</div>
            <div class="rectangle-3"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-34"></div>
            <div class="rectangle-35"></div>
            <div class="i-love-staysafe-isvalign-text-middleepilogue-medium-white-25px">
              <span
                ><span class="epilogue-medium-white-25px">“i love staysafe is a life saver”<br /></span
                ><span class="epilogue-light-white-13px">nicole, user since 2022</span>
              </span>
            </div>
          </div>
        </div>
        <div class="overlap-group5">
          <div class="staysafe-helped-mevalign-text-middleepilogue-medium-white-25px">
            <span
              ><span class="epilogue-medium-white-25px">“staysafe helped me about a robbery”<br /></span
              ><span class="epilogue-light-white-13px">nicole, user since 2022</span>
            </span>
          </div>
        </div>
        <div class="case-study1-1">
          <div class="overlap-group1-3">
            <div class="camileraleway-black-white-34px">Frankie</div>
            <div class="member-since-2012raleway-bold-white-19px">Member since 2016</div>
            <div class="rectangle-3-1"></div>
            <div class="rectangle-3-1"></div>
            <div class="rectangle-3-1"></div>
            <div class="rectangle-3-1"></div>
            <div class="rectangle-3-1"></div>
            <div class="rectangle-35-1"></div>
            <div class="with-staysafe-i-toovalign-text-middleepilogue-medium-white-24px">
              <span
                ><span class="epilogue-medium-white-24px"
                  >“with staysafe I took a route romew with there was not&nbsp;&nbsp;danger zones”<br /></span
                ><span class="epilogue-light-white-24px">-Jose, user since 2022</span>
              </span>
            </div>
          </div>
        </div>
        <div class="rectangle-36"></div>
      </div>
      <div class="learn-how-others-are">Join our community to help keep our neighbourhood safer.</div>
      <div class="input">
        <div class="button-4">
          <div class="king-button">
            <div class="label-3valign-text-middle">Sign Up</div>
          </div>
        </div>
        <div class="join-our-list">JOIN OUR LIST</div>
      </div>
    </div>
    <div class="get-started">
      <div class="overlap-group1-4">
        <div class="get-started_-box"></div>
        <div class="footer">
          <div class="flex-row-4">
            <img class="navbar-image-1" src="navbar-image.png" />
            <div class="overlap-group-6">
              <div class="footer-links">
                <div class="about-usepilogue-bold-white-19px">About Us</div>
                <div class="flex-col-3">
                  <div class="mediumepilogue-bold-white-19px">Medium</div>
                  <div class="twitterepilogue-bold-white-19px">Twitter</div>
                  <div class="facebookepilogue-bold-white-19px">Facebook</div>
                  <div class="instagramepilogue-bold-white-19px">Instagram</div>
                  <div class="linked-inepilogue-bold-white-19px">LinkedIn</div>
                </div>
                <div class="flex-col-4">
                  <div class="contact-usepilogue-bold-white-19px">
                    <span class="epilogue-bold-white-19px">Contact</span><span class="raleway-bold-white-19px"> Us</span>
                  </div>
                  <div class="slackepilogue-bold-white-19px">Slack</div>
                </div>
              </div>
              <div class="stay-safe-1">Staysafe</div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="flex-row-5">
            <p class="ninja-mail-is-a-samplraleway-bold-white-15px">Staysafe © 2022 , All rights reserved.</p>
            <div class="links2">
              <div class="terms-conditionsraleway-bold-white-15px">Terms &amp; Conditions</div>
              <div class="privacy-policyraleway-bold-white-15px">Privacy Policy</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="this-staysafe-i-couvalign-text-middleplayfairdisplay-medium-white-24px">
    <span
      ><span class="playfairdisplay-medium-white-24px">“this staysafe i could warn my sister about a shoot out” </span
      ><span class="epilogue-light-white-24px">-marta</span>
    </span>
  </div>
</div>
