<div class="hero-top">
  <div>
    <h1 class= "hero-top-header">StaySafe</h1>
    <div class="hero-top-content">
      <p>
        Connect and live more safely.
        StaySafe is a personal safety navigation network that enpowwers you
        to protect yourself and the people and places you care about.
        It helps you route, share and rate your journey while keeping safe
        <div class = "hero-top-button-box">
          <button>sign up</button>
          <button>browse map</button>
        </div>
      </p>
    </div>
    <div class= "hero-top-pic">
      <img src="https://media.istockphoto.com/photos/two-businesswoman-getting-on-the-bus-brazil-picture-id964880768?k=20&m=964880768&s=612x612&w=0&h=OXfE7gllxobTrihcthYqGZajoqKx5_R4DowkvfwSmUw="/>
    </div>
  </div>
</div>

</div>
<br/> <br/>
<br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/>
  <br/><br/> <br/><br/> <br/><br/> <br/>
<div class="d-flex justify-content-center">
  <div class="hero-image">
    <div class="hero-text">
      <h1 class = "hero-h1">Get Anywhere Safely</h1>
      <p>your personal navigation site</p>
      <button class = "hero-btn">about us</button>
    </div>
  </div>
</div>
  <br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/>
  <br/><br/> <br/><br/> <br/><br/> <br/>
<div class="container">
  <div class="works">
    <h1>How does StaySafe Work ? </h1>
      <div class="tiles">
        <div class="danger-tile">
          <h2>dangerzone</h2>
          <h2>alerts</h2>
          <h2>emergency contact</h2>

        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="testimonies">Testimonies</div>
</div>
            <div class="test-one">
              <span><span class="epilogue-medium-white-25px">“i love staysafe is a life saver”<br /></span
                ><span class="epilogue-light-white-13px">nicole, user since 2022</span>
              </span>
            </div>
          <div class="test-two">
            <span
              ><span class="epilogue-medium-white-25px">“staysafe helped me about a robbery”<br /></span
              ><span class="epilogue-light-white-13px">nicole, user since 2022</span>
            </span>
          </div>
          <div class="test-three">
            <span
              ><span class="epilogue-medium-white-24px"
                >“with staysafe I took a route romew with there was not&nbsp;&nbsp;danger zones”<br /></span
                ><span class="epilogue-light-white-24px">-Jose, user since 2022</span>
            </span>
          </div>

          <div class="container"> </div>
      <div class="community">
      Join our community to help keep our neighbourhood safer.</div>
      <button> Sign up </button>
