
<div class="hero">
  <div>
    <h1>StaySafe</h1>
    <p>Connect and live more safely.
    StaySafe is a personal safety navigation network that enpowwers you
    to protect yourself and the people and places you care about.
    It helps you route, share and rate your journey while keeping safe
    </p>
  </div>
  <div class = "button-box">
  <button>sign up</button>
  <button>browse map</button>
  </div>
  <div class= "hero-picture">
  picture here
  </div>
</div>


<div class="container">
  <div class="about">
    <h1>Get Anywhere Safely</h1>
    <button>about us</button>
    <p>picture here</p>
  </div>
</div>

<div class="container">
  <div class="works">
    <h1>How does StaySafe Work ? </h1>
      <div class="tiles">
        <div class="danger-tile">
          <h2>dangerzone</h2>
          <h2>alerts</h2>
          <h2>emergency contact</h2>

        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="testimonies">Testimonies</div>
</div>
            <div class="test-one">
              <span><span class="epilogue-medium-white-25px">“i love staysafe is a life saver”<br /></span
                ><span class="epilogue-light-white-13px">nicole, user since 2022</span>
              </span>
            </div>
          <div class="test-two">
            <span
              ><span class="epilogue-medium-white-25px">“staysafe helped me about a robbery”<br /></span
              ><span class="epilogue-light-white-13px">nicole, user since 2022</span>
            </span>
          </div>
          <div class="test-three">
            <span
              ><span class="epilogue-medium-white-24px"
                >“with staysafe I took a route romew with there was not&nbsp;&nbsp;danger zones”<br /></span
                ><span class="epilogue-light-white-24px">-Jose, user since 2022</span>
            </span>
          </div>

          <div class="container"> </div>
      <div class="community">
      Join our community to help keep our neighbourhood safer.</div>
      <button> Sign up </button>
