<div class="header">   <img src="https://images.unsplash.com/photo-1535320404287-416e2c6d2b41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"/></div>

<div class="about">
  <h1>About Us</h1>
  <p>
    Who hasn't lived or seen a dangerous situation in Rio?
  </p>
  <p>
    Tired of the overall feeling of not being safe while walking in the city, four people frustrated with the violence, decided to team up and find a way to be aware of the potentially dangerous places, and that's how StaySafe was born :)
  </p>
  <p>
    Since then, we have received so many heart-warming feedbacks from people who can feel at least a little safer in their daily basis because of our app, and that's what keeps us going!
  </p>
  <h5>Join us while navigating the city without a care in the world.</h5>
</div>

<div class="team">
  <h2>Meet the team!</h2>
  <section class="team-card">
    <div class="team-card" style= "width: 18rem; border-radius: 100px;">
      <img src="https://avatars.githubusercontent.com/u/67218352?v=4" style="width: 200px; height: 200px; border-radius: 100%; margin-bottom: 15px;">
      <h5>Ashley Williams</h5>
    </div>

    <div class="team-card" style= "width: 18rem; border-radius: 100px;">
      <img src="https://avatars.githubusercontent.com/u/97064445?v=4" style="width: 200px; height: 200px; border-radius: 100%; margin-bottom: 15px;">
      <h5>Carolina Chreem</h5>
    </div>

    <div class="team-card" style= "width: 18rem; border-radius: 100px;">
      <img src="https://avatars.githubusercontent.com/u/85296705?v=4" style="width: 200px; height: 200px; border-radius: 100%; margin-bottom: 15px;">
      <h5>André Julio</h5>
    </div>

    <div class="team-card" style= "width: 18rem; border-radius: 100px;">
      <img src="https://avatars.githubusercontent.com/u/75916989?v=4" style="width: 200px; height: 200px; border-radius: 100%; margin-bottom: 15px;">
      <h5>Juliana Ferreira</h5>
    </div>
  </section>
</div>
