.mapboxgl-popup{
  max-width: 200px;
}

.mapboxgl-popup-content {
 text-align: left;
 font-family: 'Open Sansa', sans-serif;
}



.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.info-window{
  background-color: white;
border-radius: 8px;
box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
font-size: 13px;
font-weight: 300;
padding: 12px;
}
